name: CI
on: [push, pull_request]
jobs:
  build:
    name: Lint and Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      - name: Setup Node 
        uses: actions/setup-node@v2
        with:
          node-version: '10.x'

      - run: yarn install
      - run: yarn build
      - run: yarn lint
